.whatsapp-image-2024-02-24-at-2 {
  position: absolute;
  top: -31px;
  left: 0;
  width: 430px;
  height: 963px;
  object-fit: cover;
}
.iphone-14-15-pro-max-3-child {
  position: absolute;
  top: 92px;
  left: 142px;
  background-color: var(--color-gainsboro);
  width: 194px;
  height: 33px;
  cursor: pointer;
}
.iphone-14-15-pro-max-3-item {
  position: absolute;
  top: 872px;
  left: 379px;
  width: 49px;
  height: 51px;
  object-fit: cover;
  cursor: pointer;
}
.iphone-14-15-pro-max-3-child1,
.iphone-14-15-pro-max-3-inner,
.rectangle-icon {
  position: absolute;
  top: 720px;
  left: 11px;
  width: 121px;
  height: 147px;
  object-fit: cover;
  cursor: pointer;
}
.iphone-14-15-pro-max-3-child1,
.rectangle-icon {
  top: 721px;
  left: 150px;
  width: 123px;
  height: 148px;
}
.iphone-14-15-pro-max-3-child1 {
  top: 724px;
  left: 292px;
  width: 120px;
}
.iphone-14-15-pro-max-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 932px;
  overflow: hidden;
}
